<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KhumaloCraft</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KhumaloCraft.styles.css" asp-append-version="true" />

    <style>
        /* Hover effect for navigation links */ 
        .navbar-nav .nav-item .nav-link { 
            transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and scale */
        }
            /*(user2251230 et al., 1959)*/
        /*(RobelRobel 2111 bronze badge & MrVivekMrVivek 4388 bronze badges, 1967)*/

            .navbar-nav .nav-item .nav-link:hover {
                color: black; /* Change text color on hover */
                transform: scale(1.1); /* Scale the text on hover */
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KhumaloCraft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Work">My Work</a>
                        </li>
                        <!--(AndrewAndrew

                        233k195195 gold badges521521 silver badges712712 bronze badges et al., 1956)-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<!----References>
    user2251230 et al. (1959) How to create hover effects for all links except the one you hover on using javascript/jquery/CSS?, Stack Overflow. Available at: https://stackoverflow.com/questions/22105291/how-to-create-hover-effects-for-all-links-except-the-one-you-hover-on-using-java (Accessed: 31 March 2024).
    AndrewAndrew                      233k195195 gold badges521521 silver badges712712 bronze badges et al. (1956) How do I create an HTML button that acts like a link?, Stack Overflow. Available at: https://stackoverflow.com/questions/2906582/how-do-i-create-an-html-button-that-acts-like-a-link (Accessed: 31 March 2024).
    Curious, V. et al. (1960a) CSS: Rotated drop shadow on right side of box, Stack Overflow. Available at: https://stackoverflow.com/questions/25607704/css-rotated-drop-shadow-on-right-side-of-box (Accessed: 31 March 2024).
    LilyJonesLilyJones                      2311 gold badge11 silver badge66 bronze badges et al. (1962) How to add your own picture on HTML?, Stack Overflow. Available at: https://stackoverflow.com/questions/38171779/how-to-add-your-own-picture-on-html (Accessed: 31 March 2024).
    Duhzecca et al. (1960) How to put a background video loop on a website HTML/CSS, Stack Overflow. Available at: https://stackoverflow.com/questions/24293102/how-to-put-a-background-video-loop-on-a-website-html-css (Accessed: 31 March 2024).
    RobelRobel                      2111 bronze badge and MrVivekMrVivek                      4388 bronze badges (1967) One Navigation Bar on multiple pages, Stack Overflow. Available at: https://stackoverflow.com/questions/66856446/one-navigation-bar-on-multiple-pages (Accessed: 31 March 2024).
    W3Schools online HTML editor (no date) W3Schools Tryit Editor. Available at: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_styles_background-color (Accessed: 31 March 2024).
            Advantages of Cloud Computing  |  google cloud (no date) Google. Available at: https://cloud.google.com/learn/advantages-of-cloud-computing (Accessed: 31 March 2024).
            Jayendrapatil (2023) AWS Cloudfront, Jayendra’s Cloud Certification Blog. Available at: https://jayendrapatil.com/aws-cloudfront/ (Accessed: 31 March 2024).
            (2023) (PDF) exploring cloud computing services and applications. Available at: https://www.researchgate.net/publication/299559183_Exploring_Cloud_Computing_Services_and_Applications (Accessed: 31 March 2024).
            user2251230 et al. (1959) How to create hover effects for all links except the one you hover on using javascript/jquery/CSS?, Stack Overflow. Available at: https://stackoverflow.com/questions/22105291/how-to-create-hover-effects-for-all-links-except-the-one-you-hover-on-using-java (Accessed: 31 March 2024).



